---
import { ITEMS_PER_PAGE } from "@data/const.js";
import { getCollection, getEntry } from "astro:content";
import PageHeader from "components/container/PageHeader.astro";
import { sortPostByDate } from "utils/function.js";
import PostItem from "../components/PostItem.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const indexFields = await getEntry("field", "index");

const pageInfo = {
  title: "Home Page",
};

const sortedPosts = sortPostByDate(await getCollection("posts"));

const featuredPosts = sortedPosts.filter((post) => post.data.featured);
---

<BaseLayout pageInfo={pageInfo}>
  <PageHeader title={indexFields.data.title} intro={indexFields.data.intro} />
  {
    featuredPosts.length > 0 && (
      <section id="featured" class="">
        <h2>Featured</h2>
        <ul>
          {featuredPosts.slice(0, ITEMS_PER_PAGE).map(({ data, slug }) => (
            <PostItem href={`${slug}`} post={data} />
          ))}
        </ul>
      </section>
    )
  }
</BaseLayout>
