---
const { post:{data:{title, description}}, url} = Astro.props;

---
<!-- <Divider dividerInfo={{context:''}}></Divider> -->

<article class="flex w-full my-8">
  <div class=" basis-56 pr-4 md:block hidden">
    <!-- {
      image ? <Image class="h-32 aspect-square object-cover rounded-lg" src={image.url} alt={image.alt} ></Ima> : <div class="w-full h-32 rounded-lg bg-slate-600"></div>
    } -->
  </div>
  <div class=" flex flex-col justify-between">
    <div>
      <h2 class="text-xl font-bold text-secondary">{title}</h2>
      <span class="text-sm">Badge</span>
    </div>
    <p class="text-sm">{description}</p>
    <a href={`posts/${url}`}>read more --></a>
  </div>
</article>
<div class="divider divider-primary"></div>
