---
import { Icon } from "astro-icon/components";
const { post, href } = Astro.props;

const pubDateFormat = post.pubDate.toString().slice(0, 15);
---

<li class="block w-full my-4">
  <div class="flex flex-col justify-between gap-2">
    <div class="flex justify-between">
      <a href={href} class="text-xl font-bold text-accent">{post.title}</a>

      <span class="text-neutral flex gap-2 items-center"
        ><Icon name="Calendar" />{pubDateFormat}</span
      >
    </div>
    <div class="flex gap-2">
      {
        post.tags.map((tag) => (
          <span class="badge badge-secondary badge-outline">{tag}</span>
        ))
      }
    </div>
    <p class="text-sm">{post.description}</p>
  </div>
</li>
