---
const {
  post: {
    data: { title, description, pubDate, tags },
  },
  url,
} = Astro.props;

const pubDateFormat = pubDate.toString().slice(0, 15);
---

<!-- <Divider dividerInfo={{context:''}}></Divider> -->
<li class="block w-full my-4">
  <!-- <div class="basis-56 pr-4 md:block hidden">
 {
      image ? <Image class="h-32 aspect-square object-cover rounded-lg" src={image.url} alt={image.alt} ></Ima> : <div class="w-full h-32 rounded-lg bg-slate-600"></div>
    } 
  </div> -->
  <div class="flex flex-col justify-between gap-2">
    <div class="flex justify-between">
      <a href={`posts/${url}`} class="text-xl font-bold text-accent">{title}</a>
      <span class="text-neutral"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          class="inline-block fill-skin-base h-6 min-w-[1.375rem] scale-90 w-6"
          aria-hidden="true"
          ><path
            d="M7 11h2v2H7zm0 4h2v2H7zm4-4h2v2h-2zm0 4h2v2h-2zm4-4h2v2h-2zm0 4h2v2h-2z"
          ></path><path
            d="M5 22h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2h-2V2h-2v2H9V2H7v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2zM19 8l.001 12H5V8h14z"
          ></path></svg
        >{pubDateFormat}</span
      >
    </div>
    <div class="flex gap-2">
      {
        tags.map((tag) => (
          <span class="badge badge-secondary badge-outline">{tag}</span>
        ))
      }
    </div>
    <p class="text-sm">{description}</p>
  </div>
</li>
